<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PosDBName" value="GRetailExtreme_YANDM" />
		<add key="PosServerName" value="Y-AND-M\SQLEXPRESS01" />
		<add key="SmDBName" value="Sales Management" />
		<add key="SmServerName" value="Y-AND-M\SQLEXPRESS" />
		<add key="PosUserName" value="sa" />
		<add key="PosPwd" value="aa" />
		<add key="SmUserName" value="sa" />
		<add key="SmPwd" value="aa" />
		<add key="PaytmId" value="149545" />
		<add key="BajajId" value="149546" />
	</appSettings>

</configuration>