<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PosDBName" value="GRetail_JUNIOR" />
		<add key="PosServerName" value="JUNIOR\SQLEXPRESS" />
		<add key="SmDBName" value="SalesManagement" />
		<add key="SmServerName" value="JUNIOR\SQLEXPRESS" />
		<add key="PosUserName" value="cl_admin" />
		<add key="PosPwd" value="Tph@2015" />
		<add key="SmUserName" value="" />
		<add key="SmPwd" value="" />
		<add key="PaytmId" value="149545" />
		<add key="BajajId" value="149546" />
	</appSettings>

</configuration>